{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}
<div id="jobs">
</div>


  <!-- Main modal -->
  <div id="applicantDetail1Modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Applicant Details
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" id="close-app1-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400" id="app-detail-1">
                </p>
            </div>
        </div>
    </div>
  </div>

<script>

  const jobsEle = document.getElementById('jobs');

  let jobsEleString = "";
  fetch('/api/recruiter').then(res => res.json())
  .then(data => {
      // console.log("DATA :" + data);

      for (let application of data) {
        console.log("Application: " + application);

        jobsEleString += `<div id="app-block-${application.email}" class="flex font-sans relative shadow-xl flex leading-none bg-white mt-4">
            <div class="flex-auto p-6">
              <div class="flex flex-wrap">
                <h1 class="flex-auto text-lg font-semibold text-slate-900">
                  ${application.name}
                </h1>
                <div class="text-lg font-semibold text-slate-500">
                  ${(application.contact) ? application.contact : ""}
                </div>
                <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                  ${application.gender} - <span class="text-slate-600"> ${(application.age)} </span>
                </div>
              </div>
              <div class="flex items-baseline mt-4 mb-6 border-b border-slate-200">
              </div>
              <div class="flex space-x-4 mb-6 text-sm font-medium">
                <div class="flex-auto flex space-x-4">
                  <button onclick=showApplicationDetails("${application.email}") class="h-10 px-6 font-semibold rounded-md bg-black text-white">
                    View Profile
                  </button>
                  <div class="h-10 py-2 font-semibold accepted-true"> ${application.status} </div>
                  <div class="accepted-false" ${(application.status == "Accepted" || application.status == "Rejected") ? 'style="display: none"' : ''}>
                    <button onclick="changeApplicationStatus('${application.email}', 'Accepted')" class="h-10 px-6 font-semibold rounded-md bg-green-700 text-white">
                      Accept
                    </button>
                    <button onclick="changeApplicationStatus('${application.email}', 'Rejected')" class="h-10 px-6 font-semibold rounded-md bg-red-700 text-white">
                      Reject
                    </button>
                  </div>
                </div>
                <button
                  class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200"
                  type="button" aria-label="Like">
                  <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                  </svg>
                </button>
              </div>
              <p class="text-sm text-slate-700">
                ${(application.desc) ? application.desc : ""}
              </p>
            </div>
          </div>
        `;
        }
  
      jobsEle.innerHTML = jobsEleString;
    });

    function showApplicationDetails(email) {
      console.log("Fetching details for: " + email);

      const targetEl = document.getElementById("applicantDetail1Modal");
      const modal = new Modal(targetEl);
      modal.toggle();

      document.getElementById('close-app1-modal').onclick = function () {
        modal.toggle();
      }

      fetch('/api/applicant/' + email).then(res => res.json())
      .then(data => {
        document.getElementById('app-detail-1').innerHTML = JSON.stringify(data, null, "\t");
      })
    }

    function changeApplicationStatus(email, status) {
      console.log("Email: ", email, " \n Status: ", status);

      postData(`/api/applicant/${email}/`, { email, status }, 'PUT')
        .then(data => {
          console.log("Data got: ", data);

          if (data.status == "Accepted" || data.status == "Rejected") {
            const emailBlock = document.getElementById('app-block-' + email);
            emailBlock.getElementsByClassName('accepted-true')[0].innerHTML = data.status;
            emailBlock.getElementsByClassName('accepted-false')[0].style.display = "none";
          } else {
            console.log("Data Error: ", data);
          }
        });
    }

</script>

{% endblock %}